.text-white{color:#fff;}
.mt0{margin-top:0px;}
.mt1{margin-top:15px;}
.mt2{margin-top:30px;}
.mt3{margin-top:45px;}
.mb0{margin-bottom:0px;}
.mb1{margin-bottom:15px;}
.mb2{margin-bottom:30px;}
.mb3{margin-bottom:45px;}
.pt0{padding-top:0px;}
.pt1{padding-top:15px;}
.pt2{padding-top:30px;}
.pt3{padding-top:45px;}
.pb0{padding-bottom:0px;}
.pb1{padding-bottom:15px;}
.pb2{padding-bottom:30px;}
.pb3{padding-bottom:45px;}
.f10{font-size:10px;}
.f11{font-size:11px;}
.f12{font-size:12px;}
.f13{font-size:13px;}
.f14{font-size:14px;}
.f15{font-size:15px;}
.f16{font-size:16px;}
.f17{font-size:17px;}
.f18{font-size:18px;}
.f19{font-size:19px;}
.f20{font-size:20px;}
.f21{font-size:21px;}
.f22{font-size:22px;}
.f23{font-size:23px;}
.f24{font-size:24px;}
.f25{font-size:25px;}